In head in HTML:
<style>
a{
  text-decoration: none;
}
</style>

.content {
  width: 1100px;
  padding-left:200px;
}

.banner {
  position: absolute;
  height: 30px;
  top: -20px;
  left: 0px;
  right: 0px;
  text-align: center;
  opacity: 0.8;

}

.maintext {
  padding-top:300px;

}

.sideBar {
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 150px;
  right: 20px;
  background-color: Plum;
  padding: 10px;
  z-index: 10000;

}

.sideBarRow {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 15pt;
}

h2 {
  padding-right:40px;
  font-family:Lucida;
  color:darkorchid;
  font-size: 50px;
}

#lavender {
  width: 1445px;
}

#description {
  padding-right:30px;
  font-family:Lucida;
  color:orchid;
  font-size:20px;

f

}/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: Orchid !important; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  z-index: 10000;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: White !important;
  display: block;
  transition: 0.3s;
  z-index: 10000;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: DarkOrchid !important;
  z-index: 10000;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  z-index: 10000;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: Orchid !important;
  color: White !important;
  padding: 10px 15px;
  border: none;
  position: fixed;
  z-index: 10000;
}

.openbtn:hover {
  background-color: DarkOrchid !important;
}

.confessiontext {
  margin: auto;
}

.maintext {
  margin: auto;
}

.description {
  text-align: center;
}

.content {
  text-align: center;
  margin:auto;
}
/* Styles page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.content {

  width:100%;
  margin:auto;

}

  .banner {

  position: absolute;
  height:100%
  top:-20px;
  left:0px;
  right:0px;
  text-align:center;
  opacity:0.8;

  max-width: 100%;
  margin: 0;
  overflow:hidden:
}
